@model PhuTungXeMay2019.Models.CONTACT

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="slide_content_wrap">
        <h4 class="title">VIEW CONTACT DETAILS</h4>
        
    </div>
    <div>
        <h4>CONTACT</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tenContact)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tenContact)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.noidungContact)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.noidungContact)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.idNguoidung)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idNguoidung)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.tenNguoidung)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.tenNguoidung)
            </dd>
    
            
    
            <dt>
                @Html.DisplayNameFor(model => model.gioitinh)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.gioitinh)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.diachi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.diachi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sdt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sdt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ghichu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ghichu)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Xóa", "Edit", new { id = Model.idContact }) |
        @Html.ActionLink("Quay lại List Contact", "Index")
    </p>
</body>
</html>
