@model IEnumerable<PhuTungXeMay2019.Models.tableOrder>

@{
    ViewBag.Title = "Giỏ Hàng";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Tên Sản Phẩm 
        </th>
        <th>
            Hình ảnh 
        </th>
        <th>
           Gìa Tiền
        </th>
        <th>
           Số Lượng
        </th>
        <th>
           Tổng Cộng
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <mark>@item.tenSP</mark>
        </td>
        <td>
            @item.hinhSP
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dongiaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soluongSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhtien)
        </td>
        <td>
           @item.ghichu.ToString()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idSP }) |
            @Html.ActionLink("Details", "Details", new { id=item.idSP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idSP })
        </td>
    </tr>
}

</table>
